RewriteEngine On
Options FollowSymLinks

RewriteCond %{CONTEXT_DOCUMENT_ROOT}/client/dist/%{REQUEST_URI} -f
RewriteRule ^(.+) /client/dist/$1 [L]

RewriteCond %{REQUEST_FILENAME} !-f
RewriteRule ^(.*)$  "server/$1"