// out: ../css/index.css, compress: true, sourceMap: false

@import 'defaults.less';

html, body {
  margin: 0;
  padding: 0;
  color: white;
  height: 100%;
  * {
      font-family: 'Roboto', sans-serif;
      box-sizing: border-box;
      z-index: 1;
  }
}
html {
  background-color: @root_bkg;
}
.btn {
  background-image: @btn_bkg_gradient;
  box-shadow: @btn_shadow;
  cursor: pointer;
  border-radius: .5em;
  overflow: hidden;
  transition: transform .25s, background-image .25s;
  &:hover {
    transform: translateY(-2px);
    box-shadow: @btn_shadow_hover;
    background-image: @btn_bkg_gradient_hover;
    background-position: right center;
  }
}
#root {
    height: 100%;
    width: 100%;
    & > div#bkg {
      background: @root_bkg;
      /*background-image: url('/imgs/initial_bkg.jpg');
      background-position: center;
      background-size: cover;
      filter: blur(2px) opacity(.3);*/
      min-height: 100vh;
      position: fixed;
      top: 0;
      left: 0;
      z-index: -1;
      width: 100vw;
    }
}
.page {
  display: flex;
  flex-direction: column;
  height: 100%;
  overflow: auto;
  & > .content {
    flex-grow: 1;
  }
}
h1, h2, h3, h4, h5, h6 {
  font-family: 'Roboto', sans-serif;        
}
a {
  text-decoration: none;
  color: inherit;
}