// out: ../css/navigation.css, compress: true, sourceMap: false

@content-width: 800px;

nav {
  display: flex;
  flex-direction: row;
  align-items: center;
  min-height: max-content;
  &.nav-desktop {
    @media screen and (max-width: 599px) {
      display: none;
    }
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    padding: 1em 1em;
    font-weight: bold;
    a {
      padding: 0 1em;
      &#logo {
        img {
          width: auto;
          height: 50px;
        }
      }
    }
    div#links {
      display: flex;
      flex-direction: row;
      text-shadow: 2px 2px 1px #000;
    }
  }
  &.nav-mobile {
    @media screen and (min-width: 600px) {
      display: none;
    }
    button {
      background: none;
      border: none;
      color: inherit;
      font-size: 1.5em;
      height: 100%;
      padding: 0 .5em 0 1em;
      cursor: pointer;
      i {
        text-shadow: 2px 2px 2px #000;
      }
    }
    h1 {
      font-size: 1.5em;
      flex-grow: 1;
      text-align: left;
      margin-left: 1em;
      text-shadow: 2px 2px 2px #000;
    }
  }
}
.page > .content {
  @media screen and (max-width: 599px) {
    overflow-y: auto;
  }
  & > .title_desktop {
    text-align: center;
    margin: 1em auto;
    text-shadow: 2px 2px 2px #000;
    @media screen and (max-width: 599px) {
      display: none;
    }
  }
}